@import 'custom/main.css';
@import 'custom/typography.css';
@import 'custom/quotes.css';
@import 'custom/buttons.css';

body {
    @apply bg-floral-white text-raisin-black p-5;
}

/* Dotted background, code inspiration https://stackoverflow.com/questions/55364127/making-a-dotted-grid-with-css/55364821#55364821 */
@layer base {
    .bg-dotted {
        /* Colors */
        --bg-color: #dcdbdb;

        background: var(--bg-color);
        background-image: radial-gradient(#c3c3c3 1px, transparent 0);
        background-size: 22px 22px;
        background-position: -19px -19px;
    }
}

.border-container {
    @apply border-2 border-raisin-black;
}

.box-container {
    @apply border-container p-5;
}

.header-container {
    @apply border-container px-5 pt-5 pb-10;
}

.main-container {
    @apply border-container px-5 py-10;
}

/* Menu */
.ay-nav-container {
    @apply relative mt-5;
}

.ay-nav-container > ul#ay-primary-menu {
    @apply absolute w-full flex justify-center space-x-4;
}

ul#ay-primary-menu .ay-menu-item {
    @apply bg-floral-white hover:bg-dotted transition-colors text-raisin-black
            uppercase text-2xl
            border-container cursor-pointer;
}

ul#ay-primary-menu .ay-menu-item.current {
    @apply bg-dotted;
}

ul#ay-primary-menu .ay-menu-item > a {
    @apply block w-full h-full p-5;
}

.ay-social-container {
    @apply mt-36;
}

.ay-social-container > ul#ay-social-menu {
    @apply flex justify-center space-x-4;
}

ul#ay-social-menu .ay-social-item > a {
    @apply block hover:text-brink-pink active:brightness-75;
}

/* Pagination */
.pagination-container > .page-numbers {
    @apply border-2 border-raisin-black w-14 h-14 relative text-xl
            hover:bg-dotted hover:text-opacity-70
            select-none;
}

.page-numbers > .number {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.page-numbers.current {
    @apply cursor-not-allowed bg-dotted text-opacity-70;
}